/* Keyboard Stylesheet */

/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}


@font-face {
    font-family: 'pitmanitamedium';
    src: url('pitmanita-webfont.eot');
    src: url('pitmanita-webfont.eot?#iefix') format('embedded-opentype'),
         url('pitmanita-webfont.woff') format('woff'),
         url('pitmanita-webfont.ttf') format('truetype'),
         url('pitmanita-webfont.svg#pitmanitamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"pitmanitamedium", serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em; border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#DBEAF9;color:#205791;border-color:#003366;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#003366;}
.white {color:#fff;}

/* grid.css */
* html .container {height: 1%;}
.container { margin: 0 auto; } .fw {width:960px;}
.last { margin-right:0px; clear:right }
.column, .w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9, .w10, .w11, .w12, .w13, .w14, .w15, .w16, .w17, .w18, .w19, .w20, .w21, .w22, .w23, .w24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.w1 {width:30px;}
.w2 {width:70px;}
.w3 {width:110px;}
.w4 {width:150px;}
.w5 {width:190px;}
.w6 {width:230px;}
.w7 {width:270px;}
.w8 {width:310px;}
.w9 {width:350px;}
.w10 {width:390px;}
.w11 {width:430px;}
.w12 {width:470px;}
.w13 {width:510px;}
.w14 {width:550px;}
.w15 {width:590px;}
.w16 {width:630px;}
.w17 {width:670px;}
.w18 {width:710px;}
.w19 {width:750px;}
.w20 {width:790px;}
.w21 {width:830px;}
.w22 {width:870px;}
.w23 {width:910px;}
.w24 {width:950px;margin-right:0;}
input.w1, textarea.w1, input.w2, textarea.w2, input.w3, textarea.w3, input.w4, textarea.w4, input.w5, textarea.w5, input.w6, textarea.w6, input.w7, textarea.w7, input.w8, textarea.w8, input.w9, textarea.w9, input.w10, textarea.w10, input.w11, textarea.w11, input.w12, textarea.w12, input.w13, textarea.w13, input.w14, textarea.w14, input.w15, textarea.w15, input.w16, textarea.w16, input.w17, textarea.w17, input.w18, textarea.w18, input.w19, textarea.w19, input.w20, textarea.w20, input.w21, textarea.w21, input.w22, textarea.w22, input.w23, textarea.w23, input.w24, textarea.w24 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.w1, textarea.w1 {width:18px;}
input.w2, textarea.w2 {width:58px;}
input.w3, textarea.w3 {width:98px;}
input.w4, textarea.w4 {width:138px;}
input.w5, textarea.w5 {width:178px;}
input.w6, textarea.w6 {width:218px;}
input.w7, textarea.w7 {width:258px;}
input.w8, textarea.w8 {width:298px;}
input.w9, textarea.w9 {width:338px;}
input.w10, textarea.w10 {width:378px;}
input.w11, textarea.w11 {width:418px;}
input.w12, textarea.w12 {width:458px;}
input.w13, textarea.w13 {width:498px;}
input.w14, textarea.w14 {width:538px;}
input.w15, textarea.w15 {width:578px;}
input.w16, textarea.w16 {width:618px;}
input.w17, textarea.w17 {width:658px;}
input.w18, textarea.w18 {width:698px;}
input.w19, textarea.w19 {width:738px;}
input.w20, textarea.w20 {width:778px;}
input.w21, textarea.w21 {width:818px;}
input.w22, textarea.w22 {width:858px;}
input.w23, textarea.w23 {width:898px;}
input.w24, textarea.w24 {width:938px;}
.append-1 {padding-right:40px;}
.append-2 {padding-right:80px;}
.append-3 {padding-right:120px;}
.append-4 {padding-right:160px;}
.append-5 {padding-right:200px;}
.append-6 {padding-right:240px;}
.append-7 {padding-right:280px;}
.append-8 {padding-right:320px;}
.append-9 {padding-right:360px;}
.append-10 {padding-right:400px;}
.append-11 {padding-right:440px;}
.append-12 {padding-right:480px;}
.append-13 {padding-right:520px;}
.append-14 {padding-right:560px;}
.append-15 {padding-right:600px;}
.append-16 {padding-right:640px;}
.append-17 {padding-right:680px;}
.append-18 {padding-right:720px;}
.append-19 {padding-right:760px;}
.append-20 {padding-right:800px;}
.append-21 {padding-right:840px;}
.append-22 {padding-right:880px;}
.append-23 {padding-right:920px;}
.prepend-1 {padding-left:40px;}
.prepend-2 {padding-left:80px;}
.prepend-3 {padding-left:120px;}
.prepend-4 {padding-left:160px;}
.prepend-5 {padding-left:200px;}
.prepend-6 {padding-left:240px;}
.prepend-7 {padding-left:280px;}
.prepend-8 {padding-left:320px;}
.prepend-9 {padding-left:360px;}
.prepend-10 {padding-left:400px;}
.prepend-11 {padding-left:440px;}
.prepend-12 {padding-left:480px;}
.prepend-13 {padding-left:520px;}
.prepend-14 {padding-left:560px;}
.prepend-15 {padding-left:600px;}
.prepend-16 {padding-left:640px;}
.prepend-17 {padding-left:680px;}
.prepend-18 {padding-left:720px;}
.prepend-19 {padding-left:760px;}
.prepend-20 {padding-left:800px;}
.prepend-21 {padding-left:840px;}
.prepend-22 {padding-left:880px;}
.prepend-23 {padding-left:920px;}
.border {padding-right:4px;margin-right:5px;border-right:1px solid #ddd;}
.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #ddd;}
.pull-1 {margin-left:-40px;}
.pull-2 {margin-left:-80px;}
.pull-3 {margin-left:-120px;}
.pull-4 {margin-left:-160px;}
.pull-5 {margin-left:-200px;}
.pull-6 {margin-left:-240px;}
.pull-7 {margin-left:-280px;}
.pull-8 {margin-left:-320px;}
.pull-9 {margin-left:-360px;}
.pull-10 {margin-left:-400px;}
.pull-11 {margin-left:-440px;}
.pull-12 {margin-left:-480px;}
.pull-13 {margin-left:-520px;}
.pull-14 {margin-left:-560px;}
.pull-15 {margin-left:-600px;}
.pull-16 {margin-left:-640px;}
.pull-17 {margin-left:-680px;}
.pull-18 {margin-left:-720px;}
.pull-19 {margin-left:-760px;}
.pull-20 {margin-left:-800px;}
.pull-21 {margin-left:-840px;}
.pull-22 {margin-left:-880px;}
.pull-23 {margin-left:-920px;}
.pull-24 {margin-left:-960px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1 {margin:0 -40px 1.5em 40px;}
.push-2 {margin:0 -80px 1.5em 80px;}
.push-3 {margin:0 -120px 1.5em 120px;}
.push-4 {margin:0 -160px 1.5em 160px;}
.push-5 {margin:0 -200px 1.5em 200px;}
.push-6 {margin:0 -240px 1.5em 240px;}
.push-7 {margin:0 -280px 1.5em 280px;}
.push-8 {margin:0 -320px 1.5em 320px;}
.push-9 {margin:0 -360px 1.5em 360px;}
.push-10 {margin:0 -400px 1.5em 400px;}
.push-11 {margin:0 -440px 1.5em 440px;}
.push-12 {margin:0 -480px 1.5em 480px;}
.push-13 {margin:0 -520px 1.5em 520px;}
.push-14 {margin:0 -560px 1.5em 560px;}
.push-15 {margin:0 -600px 1.5em 600px;}
.push-16 {margin:0 -640px 1.5em 640px;}
.push-17 {margin:0 -680px 1.5em 680px;}
.push-18 {margin:0 -720px 1.5em 720px;}
.push-19 {margin:0 -760px 1.5em 760px;}
.push-20 {margin:0 -800px 1.5em 800px;}
.push-21 {margin:0 -840px 1.5em 840px;}
.push-22 {margin:0 -880px 1.5em 880px;}
.push-23 {margin:0 -920px 1.5em 920px;}
.push-24 {margin:0 -960px 1.5em 960px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:left;position:relative;}
div.prepend-top, .prepend-top {margin-top:1.5em;}
div.append-bottom, .append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#e5eCf9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

.h1 {height:20px}.h2 {height:40px}.h3 {height:60px}.h4 {height:80px}.h5 {height:100px}.h6 {height:120px}.h7 {height:140px}.h8 {height:160px}.h9 {height:180px}.h10 {height:200px}.h11 {height:220px}.h12 {height:240px}.h13 {height:260px}.h14 {height:280px}.h15 {height:300px}.h16 {height:320px}.h17 {height:340px}.h18 {height:360px}.h19 {height:380px} .h20 {height:400px}.h21 {height:420px}.h22 {height:440px}.h23 {height:460px}.h24 {height:480px}.h25 {height:500px}
.h26 {height:520px}.h27 {height:540px}.h28 {height:560px}.h29 {height:580px}.h30 {height:600px}.h31 {height:620px}.h32 {height:640px}.h33 {height:660px}.h34 {height:680px}.h35 {height:700px}.h36 {height:720px}.h37 {height:740px}.h38 {height:760px}.h39 {height:780px}.h40 {height:800px}.h41 {height:820px}.h42 {height:840px}.h43 {height:860px}.h44 {height:880px}.h45 {height:900px}.h46 {height:920px}.h47 {height:940px}.h48 {height:960px}.h49 {height:980px}.h50 {height:1000px}

.minh1 {min-height:20px}.minh2 {min-height:40px}.minh3 {min-height:60px}.minh4 {min-height:80px}.minh5 {min-height:100px}.minh6 {min-height:120px}.minh7 {min-height:140px}.minh8 {min-height:160px}.minh9 {min-height:180px}.minh10 {min-height:200px}.minh11 {min-height:220px}.minh12 {min-height:240px}.minh13 {min-height:260px}.minh14 {min-height:280px}.minh15 {min-height:300px}.minh16 {min-height:320px}.minh17 {min-height:340px}.minh18 {min-height:360px}.minh19 {min-height:380px}.minh20 {min-height:400px}.minh21 {min-height:420px}.minh22 {min-height:440px}.minh23 {min-height:460px}.minh24 {min-height:480px}.minh25 {min-height:500px}
.minh26 {min-height:520px}.minh27 {min-height:540px}.minh28 {min-height:560px}.minh29 {min-height:580px}.minh30 {min-height:600px}.minh31 {min-height:620px}.minh32 {min-height:640px}.minh33 {min-height:660px}.minh34 {min-height:680px}.minh35 {min-height:700px}.minh36 {min-height:720px}.minh37 {min-height:740px}.minh38 {min-height:760px}.minh39 {min-height:780px}.minh40 {min-height:800px}.minh41 {min-height:820px}.minh42 {min-height:840px}.minh43 {min-height:860px}.minh44 {min-height:880px}.minh45 {min-height:900px}.minh46 {min-height:920px}.minh47 {min-height:940px}.minh48 {min-height:960px}.minh49 {min-height:980px}.minh50 {min-height:1000px}

.minw1 {min-width:20px}.minw2 {min-width:40px}.minw3 {min-width:60px}.minw4 {min-width:80px}.minw5 {min-width:100px}.minw6 {min-width:120px}.minw7 {min-width:140px}.minw8 {min-width:160px}.minw9 {min-width:180px}.minw10 {min-width:200px}.minw11 {min-width:220px}.minw12 {min-width:240px}.minw13 {min-width:260px}.minw14 {min-width:280px}.minw15 {min-width:300px}.minw16 {min-width:320px}.minw17 {min-width:340px}.minw18 {min-width:360px}.minw19 {min-width:380px}.minw20 {min-width:400px}.minw21 {min-width:420px}.minw22 {min-width:440px}.minw23 {min-width:460px}.minw24 {min-width:480px}.minw25 {min-width:500px}
.minw26 {min-width:520px}.minw27 {min-width:540px}.minw28 {min-width:560px}.minw29 {min-width:580px}.minw30 {min-width:600px}.minw31 {min-width:620px}.minw32 {min-width:640px}.minw33 {min-width:660px}.minw34 {min-width:680px}.minw35 {min-width:700px}.minw36 {min-width:720px}.minw37 {min-width:740px}.minw38 {min-width:760px}.minw39 {min-width:780px}.minw40 {min-width:800px}.minw41 {min-width:820px}.minw42 {min-width:840px}.minw43 {min-width:860px}.minw44 {min-width:880px}.minw45 {min-width:900px}.minw46 {min-width:920px}.minw47 {min-width:940px}.minw48 {min-width:960px}.minw49 {min-width:980px}.minw50 {min-width:1000px}

.fp1 {padding-bottom:10px} .fp2 {padding-bottom:20px;} .fp3 {padding-bottom:30px}

/* elastic cells */
.elastic {width:auto; position:relative}
.e10 {width:10%;}.e20 {width:20%}.e30 {width:30%}.e40 {width:40%}.e50 {width:50%}.e60 {width:60%}.e70 {width:70%}.e80 {width:80%}.e90 {width:90%}.e100 {width:100%}
.h10 {height:10%}.h20 {height:20%}.h30 {height:30%}.h40 {height:40%}.h50 {height:50%}.h60 {height:60%}.h70 {height:70%}.h80 {height:80%}.h90 {height:90%}.h100 {height:100%}


/* list */
li ul,li ol {margin:0;}
ul, ol      {margin:0 1.5em 1.5em 0;padding-left:3.333em;}

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

table       { margin-bottom: 1.4em; width:100%; }
th,td,caption { padding: 4px 10px 4px 5px; }

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.bold       { font-weight: bold ; }

.last { margin-right:0px; clear:right }

/* -- borders -- */
.border,.border1  { border-width: 1px }
.border2 { border-width: 2px }
.border3 { border-width: 3px }
.border4 { border-width: 4px }
.border5 { border-width: 5px }
.tpb { border-top: 1px } .rtb { border-right: 1px solid grey} .bmb { border-bottom: 1px } .ltb { border-left: 1px solid grey}
.colborder { padding-right: 9px;  margin-right: 10px; }

/* position */  
.above {position:absolute;}
.left { float:left; position:relative } 
.right { float:right; position:relative }
.center {margin: 0 auto;}
.top { margin-top:0; padding-top:0; }
.bottom { margin-bottom:0; padding-bottom:0; }
.front { z-index: 1000; }
.back { z-index: -1000; }
.fixed { position:fixed; }
body .inline-block { position:relative; display: inline-block; } /* use body selector to add more weight to style */

/* alignment */
body .align-middle { vertical-align: middle }
body .txtcenter {text-align:center;}
.txtright{text-align:right;}
.txtleft{text-align:left;}

/* pads & margins */
.pad { padding:10px }.hlf-pad { padding:5px }.dbl-pad{ padding:20px }  /*  pad, half, double padding */
.padl5 {padding-left:5px;} .padr5 {padding-right:5px;} .padl10 {padding-left:10px;} .padr10 {padding-right:10px;}
.padl20 {padding-left:20px;} .padr20 {padding-right:20px;} 
.margin { margin:10px }
.tpm10 { margin-top: 10px }.rtm10 { margin-right: 10px }.bmm10 { margin-bottom: 10px }.ltm10 { margin-left: 10px }

/* up & down - push elements up or down */
.up1 { margin-top: -20px; margin-bottom: 20px }
.up2 { margin-top: -40px; margin-bottom: 40px }
.up3 { margin-top: -60px; margin-bottom: 60px }
.up4 { margin-top: -80px; margin-bottom: 80px }
.up5 { margin-top: -100px; margin-bottom: 100px }
.up1, .up2, .up3, .up4, .up5 { position:relative; }

.dn1 { margin-top: 20px; margin-bottom: -20px }
.dn2 { margin-top: 40px; margin-bottom: -40px }
.dn3 { margin-top: 60px; margin-bottom: -60px }
.dn4 { margin-top: 80px; margin-bottom: -80px }
.dn5 { margin-top: 100px; margin-bottom: -100px }
.dn1, .dn2, .dn3, .dn4, .dn5 { position:relative; }


/* scroll */
.clip {overflow:hidden;}
.clip-x {overflow-x:hidden;}
.clip-y {overflow-y:hidden;}
.scrollable { overflow:auto;}

/* visibility */
body .hide {display:none}   /* use body selector to add more weight to style */

/* cursors */
.mouse-cursor { cursor:default; }
.click-cursor { cursor:pointer; }

/* clear */
.clear, form br  {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before, .clearfix:after, .c10:before, .c10:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after, c10:after {
  clear: both;
}


/* -- forms -- */
legend { padding: 0 .4em; }
fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
form .textbox { padding: 2px; }
form .ctrl-group { margin-bottom: 10px; margin-right: 10px; }



/* -- rulers -- */
hr.space {
    color: #fff;
    background: transparent;
    visibility:hidden;
}
hr {
  background: #ccc;
  color: #ccc;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 5px 0 1em 0;
  border: none;
}

#wrap {
	width: 920px;
	margin: 0 auto;
	margin-top: 10px;
}

#inputtext {
	font-family: "pitmanitamedium", serif;
	font-size: 36px; font-weight: bold;
	width: 920px;
	line-height: 90%;
	min-height: 200px;
	border: 1px solid #DBEAF9;
	padding: 5px;
	cursor: text;
}

#keyboard {
	width: 920px;
	margin: 0 auto;
	margin-top: 5px;	
	/* border: 1px solid #DBEAF9; */
	text-align: center;
	padding: 0px;
}


/* -- button -- */
.btn, button {
	margin:2px; padding: 0px; min-width:40px; font-size:12px;
}

.space {
	min-width: 400px;
}

::-webkit-input-placeholder { /* WebKit browsers */
color: #DBEAF9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #DBEAF9;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #DBEAF9;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #DBEAF9;
}